body {
    background-image: url("../img/Pattern45.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-color: #cccccc;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    text-align: center;
}

#title {
    font-family: 'Staatliches', cursive;
    font-size: 90px;
    font-weight: bold;
    color: #000;

}

#description {
    font-size: 20px;
    background-color: #f1ac36;
    border: solid 1px #000;
    border-radius: 7px;
    color: #fff;
    padding: 5px;
    width: auto;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

#col-1, #col-2 {
    background-color: #83cabe;
    border: solid 1px #000;
    border-radius: 7px;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    margin: 15px;
    padding: 15px;
    width: 45%;
}
.snack {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

button {
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 7px;
    box-shadow: 3px 3px #666;
    outline: none;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
    margin: auto;
    padding: 5px;
}

button:hover {
    background-color: #d5dfe9;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#new-snack-section {
    background-color: #e98e91;
    border: solid 1px #000;
    border-radius: 7px;
    padding:15px;
    width: auto;
    margin: auto;
}

#create_snack {
    font-size: 20px;
}
input {
    border: solid 1px #000;
    border-radius: 7px;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    line-height: 1.5;
    outline: none;
    width: 400px;
    /* margin: 5px; */
    padding: 5px;
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Staatliches', cursive; */
