body {
    background-image: url("../img/Pattern45.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-color: #cccccc;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    text-align: center;
}

#title {
    font-family: 'Staatliches', cursive;
    font-size: 90px;
    font-weight: bold;
    color: #000;

}

#description {
    font-size: 20px;
    background-color: #f1ac36;
    border: solid 1px #000;
    border-radius: 7px;
    color: #fff;
    padding: 5px;
    width: auto;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

.delete_snack {
    color: #83cabe;
}

#col-1, #col-2 {
    background-color: #83cabe;
    border: solid 1px #000;
    border-radius: 7px;
    /* display: flex; */
    /* flex-direction: row; */
    /* float: left; */
    justify-content: center;
    margin: 15px;
    /* opacity: 0.75; */
    padding: 15px;
    width: 45%;
}
.snack {
    font-weight: bolder;
    font-size: 28px;
}

#avail-snack, #eaten-snacks {
    font-weight: bolder;
}

#new-snack-section {
    background-color: #e98e91;
    border: solid 1px #000;
    border-radius: 7px;
    padding:15px;
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Staatliches', cursive; */
