<div id="title">CRAVINGS</div>
<div id="description">
    manage all your latest cravings in one place.
    click the buttons to "eat" your favorites, or add a new snack below!
</div>

<div id="main-container">

    <div id="col-1">
        <div id="avail-snacks">
            {{#each cravings}}
            {{#unless devoured}}
            <div class="snack">{{name}}</div>
            <button class="eat_snack" snackid={{id}}>eat snack</button>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div id="col-2">
        <div id="eaten-snacks">
            {{#each cravings}}
            {{#if devoured}}
            <div class="snack">{{name}}</div>
            <button class="delete_snack" snackid={{id}}>delete snack</button>
            {{/if}}
            {{/each}}
        </div>
    </div>

</div>

<div id="secondary-container">
    <div id="new-snack-section">
        <input id="snack_name"></input>
        <button id="create_snack">create new snack</button>
    </div>
</div>