<div id="title">Cravings</div>
<img src="assets/img/pretzel.png">

<div id="main container">

    <div id="col-1">
        <div id="avail-snacks">
            {{#each cravings}}
                {{#unless devoured}}
                    <h1>{{name}}</h1>
                    <button class="eat_snack" snackid={{id}}>eat snack</button>
                {{/unless}}
            {{/each}}
        </div>
    </div>

    <div id="col-2">
        <div id="eaten-snacks">
            {{#each cravings}}
                {{#if devoured}}
                <h1>{{name}}</h1>
                <button class="delete_snack" snackid={{id}}>delete snack</button>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div id="new-snack-section">
    {{!-- <form> --}}
    <input id="snack_name"></input>
    <button id="create_snack">create new snack</button>
    {{!-- </form> --}}
</div>

